<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="img-responsive" src="http://static1.squarespace.com/static/53323bb4e4b0cebc6a28ffa2/t/573fe299f8baf3f38def74ec/1463804606303/Star+Trek+Beyond+Poster?format=2500w" alt="...">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam optio quae quis veritatis voluptas. Animi aspernatur, consequuntur, corporis dignissimos doloribus eaque earum expedita hic laudantium maiores omnis placeat, praesentium sequi?</p>
                <div class="clearfix">
                    <div class="price pull-left">&euro;10</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="img-responsive" src="http://static1.squarespace.com/static/53323bb4e4b0cebc6a28ffa2/t/573fe299f8baf3f38def74ec/1463804606303/Star+Trek+Beyond+Poster?format=2500w" alt="...">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam optio quae quis veritatis voluptas. Animi aspernatur, consequuntur, corporis dignissimos doloribus eaque earum expedita hic laudantium maiores omnis placeat, praesentium sequi?</p>
                <div class="clearfix">
                    <div class="price pull-left">&euro;10</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="img-responsive" src="http://static1.squarespace.com/static/53323bb4e4b0cebc6a28ffa2/t/573fe299f8baf3f38def74ec/1463804606303/Star+Trek+Beyond+Poster?format=2500w" alt="...">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam optio quae quis veritatis voluptas. Animi aspernatur, consequuntur, corporis dignissimos doloribus eaque earum expedita hic laudantium maiores omnis placeat, praesentium sequi?</p>
                <div class="clearfix">
                    <div class="price pull-left">&euro;10</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="img-responsive" src="http://static1.squarespace.com/static/53323bb4e4b0cebc6a28ffa2/t/573fe299f8baf3f38def74ec/1463804606303/Star+Trek+Beyond+Poster?format=2500w" alt="...">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam optio quae quis veritatis voluptas. Animi aspernatur, consequuntur, corporis dignissimos doloribus eaque earum expedita hic laudantium maiores omnis placeat, praesentium sequi?</p>
                <div class="clearfix">
                    <div class="price pull-left">&euro;10</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>
</div>
